body{
    background-color: #F8F8FF;
}
.navbara-color{
    background-color: #2F4F4F;
}
.menu-curso{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.nav-item{
    margin-top: 0.5%;
    margin-right: 1%;
    color: #2F4F4F;
}
.toolbar{
    background-color:  #2F4F4F;
}
.tabela{
    background-color:  #2F4F4F;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.card{
    background-color: #2F4F4F;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 20%;
}
.formulario{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.nav-item{
    margin-top: 0.7%;
}
.titulo-curso{
    margin-right: 63%;
}
.titulo-table{
    text-align: center;
}
.item-table{
    text-align: center;
}
.card-home{
    flex-wrap:  wrap-reverse;
}
.card-home{
    margin-top: 4%;
    margin-left: 2%;
    margin-bottom: 20%;
    min-width: 20pt;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}